<% provide(:title, 'Guild Hall') %>
<div id="wall">
	<%= link_to "https://help.elderscrollsonline.com/app/home?region=US", target: "_blank", id:"maps" do %>
		<%= image_tag('map.png', alt: "Elder Scrolls Maps") %>
	<% end %>
		
	<%= link_to "https://help.elderscrollsonline.com/app/home?region=US", target: "_blank", id:"scroll" do %>
		<%= image_tag('scroll.png', alt: "Message Board") %>
	<% end %>
	
	<%= link_to "https://help.elderscrollsonline.com/app/home?region=US", target: "_blank", id:"calendar" do %>
		<%= image_tag('calendar.png', alt: "Calendar") %>
	<% end %>	
	
	<%= link_to "https://help.elderscrollsonline.com/app/home?region=US", target: "_blank", id:"library" do %>
		<%= image_tag('door.png', alt: "Lore Library") %>
	<% end %>	
</div>
