<% provide(:title, 'Help') %> 
<h1>Help</h1>
	<div class="column">
		<h3>Helpful Links</h3>
		<%= link_to "TANKOPEDIA", "http://worldoftanks.com/encyclopedia/vehicles/", target: "_blank" %><br/>
		<%= link_to "WORLD OF TANK WIKI", "http://wiki.worldoftanks.com/Main_Page", target: "_blank" %><br/>
		<%= link_to "WOT PRO WIKI", "http://www.wotpro.com/", target: "_blank" %><br/>
		<%= link_to "WOT DB", "http://www.wotdb.info/", target: "_blank" %><br/>
		<%= link_to "WOT LABS", "http://wotlabs.net/", target: "_blank" %><br/>
		<%= link_to "TheRiisingSun YouTube Training Videos", "http://www.youtube.com/user/TheRiisingSun", target: "_blank" %><br/>
		<%= link_to "Planet WOT Crew Skill Calculator", "http://www.planetwot.com/Crewxp/", target: "_blank" %><br/>
	</div>
	<div class="column">
		<h3>Mods</h3>
		<%= link_to "One Click XVM Installer", "https://forum.worldoftanks.eu/index.php?/topic/196435-xvm-updater-24-one-click-installupdate/", target: "_blank" %><br/>
	</div>
