<% provide(:title, 'Links') %> 
<h1>Helpful Links</h1>
	<div class="column">
		<%= link_to "TANKOPEDIA", "http://worldoftanks.com/encyclopedia/vehicles/", target: "_blank" %><br/>
		<%= link_to "WORLD OF TANK WIKI", "http://wiki.worldoftanks.com/Main_Page", target: "_blank" %><br/>		
		<%= link_to "WOT DB", "http://www.wotdb.info/", target: "_blank" %><br/>
		<%= link_to "WOT Info Camo Calculator", "http://www.wotinfo.net/en/camo-calculator", target: "_blank" %><br/>
		<%= link_to "WOT LABS", "http://wotlabs.net/", target: "_blank" %><br/>
		<%= link_to "WOT Guro", "http://wotguru.com/", target: "_blank" %><br/>
		<%= link_to "Curse World of Tank Mods", "http://www.curse.com/wot-mods/worldoftanks/", target: "_blank" %><br/>
		<%= link_to "Planet WOT Crew Skill Calculator", "http://www.planetwot.com/Crewxp/", target: "_blank" %><br/>
		<%= link_to "Noob Meter", "http://www.noobmeter.com/", target: "_blank" %><br/>
	</div>

