<% provide(:title, @title) %> <h1><%= @header %></h1>

<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="player_wrapper">
	<div id="player"></div>

	<script>	
		// 2. This code loads the IFrame Player API code asynchronously.
		var tag = document.createElement('script');

		tag.src = "//www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

		// 3. This function creates an <iframe> (and YouTube player)
		//    after the API code downloads.
		var player;
		function onYouTubeIframeAPIReady() {
			player = new YT.Player('player', {
				height : '390',
				width : '640',
				videoId : '<%= @default_video %>',
				events : {
					'onReady' : onPlayerReady
				}
			});
			
			// Add click events to each video
			$(".video_link").click(function() {
				playVideo(this);
			});
		}

		// 4. The API will call this function when the video player is ready.
		function onPlayerReady(event) {
			event.target.playVideo();
		}

		function playVideo(video_link) {
			video = $(video_link);
			player.loadVideoById(video.attr('video-id'), 0, "large")
		}
	</script>
</div>

<% if @video_filter %>
<script>
	function applyVideoFilter() {
		var nation = $('#tanks_Nation').val();
		var type = $('#tanks_Type').val();
		var tier = $('#tanks_Tier').val();

		if (nation == 'All' && type == 'All' && tier == 'All') {
			// If All Filters set to All then Show All
			$(".video_link").show();
		} else {
			// Hide All Videos
			$(".video_link").hide();
			
			// Then Show those matching the filters
			var nation_filter = (nation == "All" ? "" : "[nation-id='" + nation + "']");
			var type_filter = (type == "All" ? "" : "[type-id='" + type + "']");
			var tier_filter = (tier == "All" ? "" : "[tier-id='" + tier + "']");
			$(nation_filter + type_filter + tier_filter).show();
		}
	}
</script>

<div id="video_filters">
	<div class="wrapper">
		<div class="filter_headers">
			<span>Nation</span>
			<span>Type</span>
			<span>Tier</span>
		</div>
		<div class="filters">
			<%= select("tanks", "Nation", options_for_select([["All", "All"], 
														  ["American", "American"], 
														  ["British","British"], 
														  ["Chinese", "Chinese"], 
														  ["French", "French"], 
														  ["German", "German"], 
														  ["Japanese", "Japanese"], 
														  ["Soviet", "Soviet"]]), 
					{ :selected=> 'All' }, {:class => "video_filter", :onchange => "applyVideoFilter()"}) %>
			<%= select("tanks", "Type", options_for_select([["All", "All"], 
														  ["Heavy", "Heavy"], 
														  ["Light","Light"], 
														  ["Medium", "Medium"], 
														  ["SPG", "SPG"], 
														  ["TD", "TD"]]), 
					{ :selected=> 'All' }, {:class => "video_filter", :onchange => "applyVideoFilter()"}) %>
			<%= select("tanks", "Tier", options_for_select([["All", "All"], 
														  ["1", "1"], 
														  ["2","2"], 
														  ["3", "3"], 
														  ["4", "4"], 
														  ["5", "5"], 
														  ["6", "6"], 
														  ["7", "7"],
														  ["8", "8"],
														  ["9", "9"],
														  ["10", "10"]]), 
					{ :selected=> 'All' }, {:class => "video_filter", :onchange => "applyVideoFilter()"}) %>								
		</div>				
	</div>
</div>
<% end %>	

<div id="videos">	
	<div class="video-list">
		<div class="video_thumbnail_row">
			<% @videos.each do |video| %>
				<div class="video_link" video-id="<%= video[:id] %>" <% if @video_filter %> nation-id="<%= video[:nation] %>" type-id="<%= video[:type] %>" tier-id="<%= video[:tier]%>" <%end%>>
					<img src="http://i.ytimg.com/vi/<%= video[:id] %>/default.jpg" alt="<%= video[:title] %>"><br>
					<span class="video_title"><%= video[:title] %></span>
				</div>			
			<% end %>
		</div>						
	</div>	
</div>

<% if signed_in? %>
	<%= render 'shared/disqus' %>
<% end %>