<% provide(:title, @title) %> <h1><%= @header %></h1>

<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="player_wrapper">
	<div id="player"></div>

	<script>
		// 2. This code loads the IFrame Player API code asynchronously.
		var tag = document.createElement('script');

		tag.src = "//www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

		// 3. This function creates an <iframe> (and YouTube player)
		//    after the API code downloads.
		var player;
		function onYouTubeIframeAPIReady() {
			player = new YT.Player('player', {
				height : '390',
				width : '640',
				videoId : '<%= @default_video %>',
				events : {
					'onReady' : onPlayerReady
				}
			});
		}

		// 4. The API will call this function when the video player is ready.
		function onPlayerReady(event) {
			event.target.playVideo();
		}

		function playVideo(video_link) {
			video = $(video_link);
			player.loadVideoById(video.attr('video-id'), 0, "large")
		}
	</script>
</div>
<div id="videos">
	<div class="video-list">
		<div class="video_thumbnail_row">
			<% @videos.each do |video| %>
				<div class="video_link" video-id="<%= video[:id] %>">
					<img src="http://i.ytimg.com/vi/<%= video[:id] %>/default.jpg" alt="<%= video[:title] %>"><br>
					<span class="video_title"><%= video[:title] %></span>
				</div>			
			<% end %>
		</div>						
	</div>	
</div>

<% if signed_in? %>
<div id="disqus_thread"></div>
<script type="text/javascript">
	<%= render 'shared/disqus_sso' %>
	
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	var disqus_shortname = 'fearthefallen';
	var disqus_identifier = '<%= @disqus %>';
	var disqus_per_page = 5;
	// required: replace example with your forum shortname

	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function() {
		var dsq = document.createElement('script');
		dsq.type = 'text/javascript';
		dsq.async = true;
		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})(); 
	
	// Add Click Listener to Videos
	$(".video_link").click(function() {
		playVideo(this);
	});
</script>
<noscript>
	Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
<% end %>