<%= @user.name %>
===============================================
Your application for <%= @clan.name %> has been created.
If your application is accepted you will be contacted in game, otherwise you will receive a rejection email.
If you are currently in a clan, please do not leave that clan until contacted and instructed to.   

If you don't already have teamspeak, please download and install it.
<a href="http://www.instantteamspeak.com//teamspeak-download.php" target='_blank'> TeamSpeak Download </a>
Even if you don't have a microphone teamspeak will be valuable in coorinating battles.<br/>
 
The Clan TeamSpeak Server Address: <%= CLAN_TEAMSPEAK_SERVER %>
Password: <%= CLAN_TEAMSPEAK_PASSWORD %>

Login to the site to check if you've been accepted to <%= @clan.name %> using this link: <%= @url %>

Certain areas of <%= @clan.name %>'s site might not be accessible to members that are not official in the clan.    	
