You have been appointed as an Ambassador to <%= @clan %></h1>
===============================================
   	  
<%= @user.wot_name %>, this appointment comes from one of two actions.
Either you were a member of <%= @clan %> and have moved on to <%= @user.clan_name %>,
or you have joined the Fear The Fallen site as a current member of <%= @user.clan_name %>.

Either way, as an Ambassador for <%= @user.clan_name %> you will be able to enjoy
most of the benefits of the <%= @clan %> Site.  Additionally there is an expectation
to help foster relationships between <%= @clan %> and <%= @user.clan_name %>.