Welcome to <%= @user.clan.name %>, <%= @user.name %>
===============================================

You account on <%= @user.clan.name %> website has been activated,
you now have an active status and all the privileges that entitles.
Please explore the Clan Site and feel free to leave comments and suggestions.

If you don't already have teamspeak, please download and install it.
<a href="http://www.instantteamspeak.com//teamspeak-download.php" target='_blank'> TeamSpeak Download </a>
Even if you don't have a microphone teamspeak will be valuable in coorinating battles.

The Clan TeamSpeak Server Address: <%= CLAN_TEAMSPEAK_SERVER %>
Password: <%= CLAN_TEAMSPEAK_PASSWORD %>

To login to the site, just follow this link: @url 
