<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to <%= @user.clan.name %>, <%= @user.name %></h1>
    <p>
      You account on <%= @user.clan.name %> website has been activated, <br/>
      you now have an active status and all the privileges that entitles. <br />
      Please explore the Clan Site and feel free to leave comments and suggestions.
    </p>
    <p>
    	If you don't already have teamspeak, please download and install it. <br/>
    	<a href="http://www.instantteamspeak.com//teamspeak-download.php" target='_blank'> TeamSpeak Download </a> <br/>
    	Even if you don't have a microphone teamspeak will be valuable in coorinating battles.<br/>
    </p>
    <p>	
    	The Clan TeamSpeak Server Address: <%= CLAN_TEAMSPEAK_SERVER %> <br/ >
		Password: <%= CLAN_TEAMSPEAK_PASSWORD %><br />
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to @user.name, @url %> 
    </p>
  </body>
</html>