<li id="video-menu" class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Videos <b class="caret"></b> </a>
	<ul class="dropdown-menu" data-no-turbolink>
		<li>
			<%= link_to "Fear The Fallen Videos", main_app.ftfvideos_path %>
		</li>
		<li>
			<%= link_to "RiisingSun Videos", main_app.riisingsun_path %>
		</li>
		<li>
			<%= link_to "World of Tanks Videos", main_app.wotvideos_path %>
		</li>
		<li>
			<%= link_to "War Gaming NA Videos", main_app.wgnavideos_path %>
		</li>
		<li>
			<%= link_to "Map Guides", main_app.mapvideos_path %>
		</li>	
		<li>
			<%= link_to "Team Training", main_app.teamtrainingvideos_path %>
		</li>	
		<li>
			<%= link_to "Tank Videos", main_app.tankvideos_path %>
		</li>
	</ul>
</li>