<% user = application.user %>
<li>
  <div class="gravatar">
  	<%= gravatar_for user, size: 52 %>
  </div>
  <div class="user_summary">
  	<% if user.clan %>
  		<%= link_to user.name, clan_user_path(@clan,user) %><br/>
  		<span><em>(current in <%= @clan.name %>)</em></span>
	<% else %>  		
		<%= link_to user.name, user_path(user) %>
	<% end %>
  	<% if !user.last_online.blank? %>
		<div class="LastOnline">
			<span class="stat_label">Last Battle:</span>
			<span class="stat_value"><%= user.last_online.strftime("%b %d %Y %l:%M%p %Z") %></span>			
		</div>
	<% end %>
	<% if !user.battles_count.blank? %>
		<div class="BattleCount">
			<span class="stat_label">Battles:</span>
			<span class="stat_value"><%= user.battles_count %></span>
		</div>
		<div class="WinRatio">
			<span class="stat_label">Win Rate</span>
			<span class="stat_value"><%= (user.wins.to_f / user.battles_count * 100).round(2) %>%</span>
		</div>		
		<div class="KillDeathRatio">
			<span class="stat_label">Kill/Death Ratio:</span>
			<span class="stat_value"><%= (user.frags.to_f / (user.battles_count - user.survived)).round(2) %></span>				
		</div>
	<% end %>	
  </div>
  <%= image_tag("http://wotlabs.net/sig/na/#{user.name}/signature.png", alt: 'win7 data') %>
   

  <div class="action_buttons">
  	<%= link_to "reject", application_path(application), method: :delete,
	                            data: { confirm: "You sure?" }, class: 'btn btn-danger' %>	                            
  </div>
</li>