<%= render 'shared/error_messages', object: f.object %>

<%= f.label :name %>
<%= f.text_field :name %>

<% unless signed_in? %>
<%= f.label :wot_name, "World of Tanks Name<span class='note'> *(used to verify clan membership) </span>".html_safe %>
<%= f.text_field :wot_name, placeholder: "World of Tank Name" %>
<% end %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation, "Confirm Password" %>
<%= f.password_field :password_confirmation %>

<%= f.label :time_zone %>
<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :default => "Pacific Time (US & Canada)" %>
