<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
  <div>
  	<% if user.rank %>
  		<%= user.rank.title %>
  	<% end %>
  </div>
  <div class="action_buttons">
	  <% if current_user && current_user.admin? && !current_user?(user) %>
	    <%= link_to "delete", user, method: :delete,
	                            data: { confirm: "You sure?" }, class: 'btn btn-danger' %>
	  <% end %>
	  <% if user.rank_id == UserPending && current_user && current_user.rank_id >= UserOfficer %>
	  	<%= link_to "approve", approve_path(user), method: :patch, class: 'btn btn-warning' %>
	  <% end %>
  </div>  
</li>