<li>
  <% if current_user.can_approve? && user.pending_approval? %>
  	<% if user.wot_id.blank? %>
  		(<%=user.wot_name%> is not a valid World of Tanks user)
  	<% end %>
  	<br>
  <% end %>
  <div class="gravatar">
  	<%= gravatar_for user, size: 52 %>
  	<% if user.clan_id != '1000007730' %>
  		<span><%= user.clan_abbr %></span>
  	<% end %>
  </div>
  <%= image_tag("http://wotlabs.net/sig/na/#{user.wot_name}/signature.png", alt: 'win7 data') %>
  <%= link_to user.wot_name, user %> 

  <div class="action_buttons">
	  <% if current_user.admin? && !current_user?(user) %>
	    <%= link_to "delete", user, method: :delete,
	                            data: { confirm: "You sure?" }, class: 'btn btn-danger' %>
	  <% end %>
	  <% if current_user.can_approve? && user.pending_approval? %>
	  	<%= link_to "approve", approve_path(user), method: :patch, class: 'btn btn-warning' %>
	  <% end %>
	  
	  <% if current_user.can_appoint_clanwar?(user) %>
	  	<% if user.clanwar_member? %>
	  		<%= link_to "remove from clanwar team", remove_clanwar_path(user), method: :patch, class: 'btn btn-warning' %>
	  	<% else %>
	  		<%= link_to "add to clanwar team", add_clanwar_path(user), method: :patch, class: 'btn btn-warning' %>
	  	<% end %>
	  <% end %>
  </div>
</li>