<% provide(:title, 'Battle Roster') %>
<h1>Battle Roster</h1>

<%= will_paginate %>
<%= render 'shared/filter' %>


<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>

<% if signed_in? %>
	<%= render 'shared/disqus' %>
<% end %>