<% provide(:title, 'Battle Roster') %>
<h1>Battle Roster</h1>

<%= will_paginate %>

<div class="filter_bar">
	<%= link_to "All Tankers", "#{users_path}", class: "btn btn-small btn-primary" %>
<% if current_user.can_approve? %>
	<%= link_to "Pending", "#{users_path}/?type=pending", class: "btn btn-small btn-primary" %>
<% end %>
	<%= link_to "Clan War Team", "#{users_path}/?type=clan_war", class: "btn btn-small btn-primary" %>
	<%= link_to "Leadership", "#{users_path}/?type=leadership", class: "btn btn-small btn-primary" %>
</div>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>

<% if signed_in? %>
<div id="disqus_thread"></div>
<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	var disqus_shortname = 'fearthefallen';
	var disqus_identifier = 'battleroster';
	var disqus_per_page = 5;
	// required: replace example with your forum shortname

	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function() {
		var dsq = document.createElement('script');
		dsq.type = 'text/javascript';
		dsq.async = true;
		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})(); 
</script>
<noscript>
	Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
<% end %>