<% provide(:title, "Reset Password") %>
<h1>Reset Password for <%= @user.name %></h1>

<div class="row">
  <div class="span6">
  	<%= form_for @user, :url => update_password_path, :method => :patch do |f| %>
  		<%= hidden_field_tag 'token', @token %>
		<%= render 'shared/error_messages', object: f.object %>
		
		<%= f.label :password, "New Password" %>
		<%= f.password_field :password %>
		
		<%= f.label :password_confirmation, "Confirm Password" %>
		<%= f.password_field :password_confirmation %>
	    <%= f.submit "Submit Reset", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>