<% provide(:title, @user.wot_name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1><%= @user.wot_name %></h1>
			<span class="role"><%= role_for(@user) %></span>
			<div class="gravatar">
				<% if @user == current_user %>
					<%= link_to gravatar_for(@user, size: 160), 'http://gravatar.com', target: "_blank", title: "Change your avatar at Gravatar." %>
					</br>
					<%= link_to 'powered by gravatar', 'http://gravatar.com', target: "_blank", class: "gravatar_link" %>
				<% else %>
					<%= gravatar_for @user, size: 160 %>
				<% end %>
				</br>
				<% if !@user.wot_id.blank? %>
					<%= link_to 'Official World of Tanks Profile', "http://worldoftanks.com/community/accounts/#{@user.wot_id}-#{@user.wot_name}/", target: "_blank" %>
				<% end %>
			</div> 
			<% if !user.last_online.blank? %>
			<div class="LastOnline">
				<span class="Label">Last Online:</span>
				<span class="OnlineDate"><%= @user.last_online.strftime("%b %d %Y %l:%M%p %Z") %></span>
			</div>	
			<% end %>
		</section>
	</aside>
	<table id="user_stats">
		<tr>
			<td class="category">Battles</td>
			<td><%= number_with_delimiter(@user.battles_count) %></td>
		</tr>
		<tr>
			<td class="category">Wins</td>
			<td><%= number_with_delimiter(@user.wins) %> (<%= @wins %>%)</td>
		</tr>
		<tr>
			<td class="category">Losses</td>
			<td><%= number_with_delimiter(@user.losses) %> (<%= @losses %>%)</td>
		</tr>
		<tr>
			<td class="category">Survived</td>
			<td><%= number_with_delimiter(@survived) %>%</td>
		</tr>
		<tr>
			<td class="category">Total Experiance</td>
			<td><%= number_with_delimiter(@user.experiance) %></td>
		</tr>
		<tr>
			<td class="category">Average Experiance</td>
			<td><%= number_with_delimiter(@average_xp) %></td>
		</tr>
		<tr>
			<td class="category">Max Experiance</td>
			<td><%= number_with_delimiter(@user.max_experiance) %></td>
		</tr>
		<tr>
			<td class="category">Tanks Spotted</td>
			<td><%= number_with_delimiter(@user.spotted) %></td>
		</tr>
		<tr>
			<td class="category">Tanks Destroyed</td>
			<td><%= number_with_delimiter(@user.frags) %></td>
		</tr>
		<tr>
			<td class="category">Total Damage Dealt</td>
			<td><%= number_with_delimiter(@user.damage_dealt) %></td>
		</tr>
		<tr>
			<td class="category">Average Damage Dealt</td>
			<td><%= number_with_delimiter(@average_damage) %></td>
		</tr>
		<tr>
			<td class="category">Hit Percentage</td>
			<td><%= @user.hit_percentage %>%</td>
		</tr>
		<tr>
			<td class="category">Capture Points</td>
			<td><%= number_with_delimiter(@user.capture_points) %></td>
		</tr>
		<tr>
			<td class="category">Defense Points</td>
			<td><%= number_with_delimiter(@user.defense_points) %></td>
		</tr>
	</table>
	
<%-# render 'statbox' -%>
</div>
<% if signed_in? %>
	<%= render 'shared/disqus' %>
<% end %>