<%= render 'shared/error_messages', object: f.object %>

<div class = "form_block">
	<%= f.label :name %>
	<%= f.text_field :name, class: "width200", placeholder: "Tournament Name" %>
</div>
<div class = "form_block">
	<%= f.label :team_name, "Team Name" %>
	<%= f.text_field :team_name, class: "width200", placeholder: "Team Name" %>
</div>

<%= f.label :wot_tournament_link, "Official World of Tank Tournament Link" %>
<%= f.text_field :wot_tournament_link, placeholder: "WOT Tournament Link" %>

<%= f.label :wot_team_link, "Official World of Tank Team Link" %>
<%= f.text_field :wot_team_link, placeholder: "WOT Team Link" %>

<%= f.label :description, "Tournament Description" %>
<%= f.text_area :description, class: "tinymce", ros: 40, cols: 120 %>

<div class = "form_block">
	<%= f.label :minimum_team_size, "Minimum Team Size" %>
	<%= f.select :minimum_team_size, [['1', 1], ['2', 2], ['3',3], ['4',4], ['5',5], ['6',6], ['7',7]], {}, class: "width120" %>
</div>
<div class = "form_block">
	<%= f.label :maximum_team_size, "Maximum Team Size" %>
	<%= f.select :maximum_team_size, [['1', 1], ['2', 2], ['3',3], ['4',4], ['5',5], ['6',6], ['7',7], ['8',8], ['9',9], ['10',10]], {}, class: "width120" %>
</div>
<br/>
<div class = "form_block">
	<%= f.label :heavy_tier_limit, "Heavy Tier Limit" %>
	<%= f.select :heavy_tier_limit, [['1', 1], ['2', 2], ['3',3], ['4',4], ['5',5], ['6',6], ['7',7], ['8',8], ['9',9], ['10',10]], {}, class: "width120" %>
</div>
<div class = "form_block">
	<%= f.label :medium_tier_limit, "Medium Tier Limit" %>
	<%= f.select :medium_tier_limit, [['1', 1], ['2', 2], ['3',3], ['4',4], ['5',5], ['6',6], ['7',7], ['8',8], ['9',9], ['10',10]], {}, class: "width120" %>
</div>
<div class = "form_block">
	<%= f.label :td_tier_limit, "TD Tier Limit" %>
	<%= f.select :td_tier_limit, [['1', 1], ['2', 2], ['3',3], ['4',4], ['5',5], ['6',6], ['7',7], ['8',8], ['9',9], ['10',10]], {}, class: "width120" %>
</div>
<br/>
<div class = "form_block">
	<%= f.label :light_tier_limit, "Light Tier Limit" %>
	<%= f.select :light_tier_limit, [['1', 1], ['2', 2], ['3',3], ['4',4], ['5',5], ['6',6], ['7',7], ['8',8], ['9',9], ['10',10]], {}, class: "width120" %>
</div>
<div class = "form_block">
	<%= f.label :spg_tier_limit, "SPG Tier Limit" %>
	<%= f.select :spg_tier_limit, [['1', 1], ['2', 2], ['3',3], ['4',4], ['5',5], ['6',6], ['7',7], ['8',8], ['9',9], ['10',10]], {}, class: "width120" %>
</div>
<div class = "form_block">
	<%= f.label :team_maximum_tier_points, "Team Maximum Tier Points" %>
	<%= f.text_field :team_maximum_tier_points, class: "width120", placeholder: "15" %>
</div>
<br/>

<%= f.label :victory_conditions, "Victory Conditions" %>
<%= f.text_area :victory_conditions, class: "tinymce", ros: 40, cols: 120 %>

<%= f.label :schedule, "Schedule" %>
<%= f.text_area :schedule, class: "tinymce", ros: 40, cols: 120 %>

<%= f.label :prizes, "Prizes" %>
<%= f.text_area :prizes, class: "tinymce", ros: 40, cols: 120 %>

<%= f.label :maps, "Maps" %>
<%= f.text_area :maps, class: "tinymce", ros: 40, cols: 120 %>

<div class="input-append form_block datetimepicker">
	<%= f.label :start_date, "Start Date"%>
	<%= f.text_field :start_date, class: "width200", data: {format: "yyyy-MM-dd HH:mm:ss PP"} %>
	<span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
</div>

<div class="input-append form_block datetimepicker">
	<%= f.label :end_date, "End Date"%>
	<%= f.text_field :end_date, class: "width200", data: {format: "yyyy-MM-dd HH:mm:ss PP"} %>
	<span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
</div>

<script type="text/javascript">
  $(function() {
    $('.datetimepicker').datetimepicker({
      language: 'en',
    });
  });
</script>
