<p>
	First register with team: <%= link_to @tournament.team_name, @tournament.wot_team_link, target: '_blank', class: 'external' %>
	on the Official World of Tanks Team page
	<% if !@tournament.password.blank? %>
	using the password: <%= @tournament.password %>
	<% end %>
</p>
<p>
	Then return here and click the join button
</p>
<p>
	Current Team
</p>
<ul>
	<% @team.each do |user| %>
	<li>
		<%= link_to user.name, user%>
	</li>
	<% end %>
</ul>

<% if !onTeam? current_user,  @tournament.team  %>
	<%= link_to "JOIN TEAM", join_tournament_path(@tournament), method: :patch, class: "btn btn-small btn-primary"%>
<% elsif current_user.id != @tournament.user_id %>
	<%= link_to "LEAVE TEAM", leave_tournament_path(@tournament), method: :patch, class: "btn btn-small btn-primary"%>
<% end %>
