<% provide(:title, "Promote") %>
<h1>Promoting <%= @user.wot_name %></h1>
<h2>Current Rank: <%= user_role(@user.role) %> </h2>
<div class="row">
  <div class="span6">
    <%= form_tag promotion_path(@user), method: "patch" do %>
    	<%= label_tag 'promotion[role_id]', "Choice new role for #{@user.wot_name}" %>
		<%= select_tag('promotion[role_id]', options_for_select(promotion_choices(current_user.role, @user.role))) %>
		
		<%= label_tag 'promotion[reason]', 'Reason for Promotion/Demotion (manditory for all demotions!)' %>
		<%= text_area_tag('promotion[reason]', "", size: "24x6") %>

      <%= submit_tag "Promote", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>