<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag('logo.png', alt: "Fear The Fallen") + "Fear The Fallen", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <%= render 'layouts/locker' %>
          <%= render 'layouts/videos' %>
          <% if signed_in? %>
          	<li><%= link_to "Battle Roster", users_path %></li>         
          	<% if current_user.role >= UserSoldier %>
				<%= render 'layouts/tournaments' %>
		  	<% end %>            
			<%= render 'layouts/profile' %>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>