<header class="navbar navbar-fixed-top navbar-inverse" id="root-header">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "The Fallen Alliance", main_app.root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", main_app.root_path %></li>
          <%= render 'layouts/clans' %>
          <li><%= link_to "Forums", forem.root_path %></li>   
          <% if signed_in? %>          	                  
			<%= render 'layouts/profile' %>
          <% else %>
            <li><%= link_to "Sign in", main_app.signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>