<li id="fat-menu" class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Account <b class="caret"></b> </a>
	<ul class="dropdown-menu">
		<li>
			<% if current_user.clan %>
				<%= link_to "Profile", main_app.clan_user_path(current_user.clan.slug, current_user.slug) %>
			<% else %>
				<%= link_to "Profile", main_app.user_path(current_user) %>
			<% end %>
		</li>
		<li>
			<% if current_user.clan %>
				<%= link_to "Settings", main_app.edit_clan_user_path(current_user.clan.slug, current_user.slug) %>
			<% else %>
				<%= link_to "Settings", main_app.edit_user_path(current_user) %>
			<% end %>
		</li>
		<li class="divider"></li>
		<li>
			<%= link_to "Sign out", main_app.signout_path, method: "delete" %>
		</li>
	</ul>
</li>