<li id="video-menu" class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Videos <b class="caret"></b> </a>
	<ul class="dropdown-menu" data-no-turbolink>
		<li>
			<%= link_to "RiisingSun Videos", riisingsun_path %>
		</li>
		<li>
			<%= link_to "World of Tanks Videos", wotvideos_path %>
		</li>
		<li>
			<%= link_to "War Gaming NA Videos", wgnavideos_path %>
		</li>
		<li>
			<%= link_to "Map Guides", mapvideos_path %>
		</li>	
		<li>
			<%= link_to "Team Training", teamtrainingvideos_path %>
		</li>	
	</ul>
</li>