<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/favicon.ico" />
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
		<style type="text/css">
			body {
				background-image: url(<%= random_image %>);
				background-position-y: 40px;
			}	
		</style>	
		<meta property="og:type"            content="website" /> 	
		<meta property="og:url"             content="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>" />
		<meta property="og:title"           content="<%= full_title(yield(:title)) %>" /> 
		<meta property="og:image"           content="<%= "#{request.protocol}#{request.host_with_port}#{image_path('logo.png')}" %>" />
		<meta property="og:image"           content="<%= "#{request.protocol}#{request.host_with_port}#{image_path('elderscrolls_logo.jpg')}" %>" />
	</head>
	<body>
		<%= render 'layouts/header' %>
		<%= render 'layouts/teamspeak' %>
		<div class="container">
			<div class="content_wrapper">
				<% flash.each do |key, value| %>
					<%= content_tag(:div, value, class: "alert alert-#{key}") %>
				<% end %>
				<%= yield %>
			</div>
			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>